@import '../../../../color';

.product-list-container {
  margin: 10px;
}

.product-list-content {
  text-align: center;
}
.product-demo {
  margin-top:5px;
  border-top: 5px solid $color-blue-light40;
}
