.carousel-image-container {
  height: 100%;
  text-align: center;
  .carousel-image-content{
    position: relative;
    height: 100%;
    display: table;
    margin: auto;
    .carousel-image-cell {
      display: table-cell;
      vertical-align: middle;
    }
    .w-img {
      width: 100%;
      height: auto;
    }
    .h-img {
      height: 100%;
      width: auto;
    }
    img {
      -webkit-box-shadow: 0 28px 26px -26px rgba(255,255,255,.5);
      -moz-box-shadow: 0 28px 26px -26px rgba(255,255,255,.5);
      box-shadow: 0 28px 26px -26px rgba(255,255,255,.5);
    }
  }

}
