<div class="tech-list-panel-container">
    <app-tech-item *ngFor="let techItem of techItemList.lv3; let i = index;"
        [verticalPosition]="verticalPosition[i]"
        [techItem]="techItem"
        [lv]="3"
        class="tech-item-box">
    </app-tech-item>
    <app-tech-item *ngFor="let techItem of techItemList.lv2; let i = index;"
        [verticalPosition]="verticalPosition[i]"
        [techItem]="techItem" 
        [lv]="2"
        class="tech-item-box">
    </app-tech-item>
    <app-tech-item *ngFor="let techItem of techItemList.lv1; let i = index;"
        [verticalPosition]="verticalPosition[i]"
    	[techItem]="techItem" 
        [lv]="1"
        class="tech-item-box">
    </app-tech-item>
</div>
