<div class="spec-content" [ngClass]="{'spec-content-lg': w>=760}">
  <img src="/assets/imgs/angular-blueprint.gif" width="90%">
  <p class="title">
    <img src="/assets/imgs/angularjs.png" width="10%">
    AngularJS
  </p>
  <p>
    Years of experience working with <strong>AngularJS</strong><br />
    Deep understanding of this <strong>MVWhatever</strong> Framework<br />
    Good at unit test with <strong>Karma</strong> and e2e test with <strong>Protractor</strong>
  </p>
  <p class="title">
    <img src="/assets/imgs/angular2.png" width="10%">
    Angular 2
  </p>
  <p>
    Jumped to Angular 2 since beta version at 2015/12<br/>
    Developed this website with <strong>Angular 2</strong>
  </p>
  <div class="spec-content-mask"></div>
</div>