<div class="footer-container">
  <div class="footer-content-container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12 footer-item footer-logo">
        <img src="assets/imgs/logo.png" />
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 footer-item footer-vision">
        <title>Our Vision</title>
        <p>
          We focus on letting our clients to be known in a better way, which helps their businesses to grow. We keep ourselves at the front edge of new and innovative technologies, and focus on how to use them to influence marketing and business development.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 footer-item footer-mission">
        <title>Our Mission</title>
        <p>
          It's our goal to provide an one-stop solution for our clients' websites. If you cannot find what you need from our services, help us to add it on the list.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12 footer-item footer-aboutUs">
        <title>About Us</title>
        <p>
          We have the most talented designers, developers, and QAs in our team. We make sure to deliver accountable websites that meet our clients' need. It's your job to have an idea, and it's our job to create an amazing website out of it for you!
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    © 2017 <strong>J-Tech</strong> All Rights Reserved.
  </div>
</div>
