<div class="carousel-container">
  <div class="carousel-content" *ngIf="data">
    <div class="bg-mask"></div>
    <div class="carousel-modal">
      <div class="top">
        <div class="left title">{{data.title}}</div>
        <div class="right carousel-control-btn close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="clear"></div>
      </div>
      <div class="mid"><app-carousel-image-list [data]="data" [animationConfig]="config.animationConfig"></app-carousel-image-list></div>
      <div class="bottom"></div>
    </div>
  </div>
</div>
